strong.italic {
  font-weight: 700;
  font-style: italic;
}
strong {
  font-weight: 800;
  color: inherit;
}

* {
  appearance: none;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  background: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.body::-webkit-scrollbar {
  /* WebKit */
  display: none;
  width: 0;
  height: 0;
}

@mixin priceAttr() {
  font-style: italic;
  background: #333333;
  color: #ffffff;
  border-radius: 3px;
  padding: 0 5px;
  margin-left: 5px;
}

.servicesMother {
  height: 100%;
  .servicesMain {
    display: flex;
    flex-direction: row;
    height: 100%;

    .leftSect {
      height: 100vh;
      width: calc(50% - 30px);
      background: #4698fe;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      padding-right: 30px;
      .headDiv {
        // margin-bottom: 100px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .head {
          text-align: end;
          color: #333;
          font-size: 4rem;
        }
      }
    }

    .rightSect {
      height: 100%;
      width: 50%;
      background: #333;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      position: relative;
      left: 50%;

      .rightSectChild {
        // position: absolute;
        height: 100%;
        margin-top: 30px;
        position: relative;
        padding-left: 30px;
        display: flex;
        width: calc(100% - 30px);

        .premiumHeadDiv {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          max-width: 500px;
          .premiumHead {
            color: #ffffff;
            margin: 25px 0 5px 0;
            justify-self: flex-start;
          }
        }

        .servicesGrid {
          width: calc(100% - 60px);
          height: auto;
          // position: absolute;
          // top: 5%;
          display: flex;
          flex-direction: column;
          column-gap: 50px;
          row-gap: 5px;
          justify-content: center;

          .serviceTypeRow {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            max-width: 500px;
            z-index: 2;
            margin-bottom: 10px;

            .slide {
              height: 100%;
              width: 30%;
              font-weight: 600;
              border: none;
              appearance: none;
              font-size: 1.5rem;
              background: #ffffff;
              color: #333;
              cursor: pointer;
              border-radius: 3px;
              background: #4698fe;
              color: #333333;
              transition: all 0.1s ease-in-out;
              text-align: center;
              display: flex;
              justify-content: center;

              &:focus {
                outline: thin dotted;
              }
            }

            .slide.active {
              box-shadow: -2px 2px black, -4px 3px #ffffff;
              transform: translateY(-3px);
              filter: brightness(120%);
            }

            @media (max-width: 500px) {
              .slide {
                font-size: 1.35rem;
              }
            }
          }

          .serviceDiv {
            max-width: 500px;
            .serviceHead {
              background: #4698fe;
              padding: 6px 15px;
              font-size: 1.5rem;
              font-weight: 600;
              margin-bottom: 5px;
              border-radius: 2px;
              cursor: pointer;

              @media (min-height: 800px) {
                padding: 10px 15px;
              }
            }
            .serviceMainParaDiv {
              color: #ffffff;
            }
            .serviceListBasics {
              margin-bottom: 5px;
              .priceRubric {
                color: #ffffff;
                font-weight: 600;
                opacity: 0.8;
              }
            }
            .serviceList {
              padding-left: 2px;
              display: none;

              .serviceListItem {
                color: #ffffff;
                list-style: none;
                margin: 3px;
                white-space: pre-wrap;
              }
              .questionPara {
                color: #000000;
                background: #ffffff;
                padding: 3px 8px;
                border-radius: 3px;
                margin-top: 10px;
              }
              .serviceNotice {
                color: #ffffff;
                background: black;
                padding: 3px 8px;
                border-radius: 3px;
              }
              .priceTimeParent {
                background: #ffffff;
                padding: 5px 10px;
                border-radius: 3px;
                margin-top: 10px;
                .priceTimeDivInterior {
                  display: flex;
                  flex-direction: column;
                  width: 100%;

                  :nth-child(1) {
                    &:after {
                      content: "$80";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(2) {
                    &:after {
                      content: "$120 - $140";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(3) {
                    &:after {
                      content: "$160 - $170";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(4) {
                    &:after {
                      content: "$180 - $220";
                      @include priceAttr;
                    }
                  }

                  .packageTime {
                    color: #333333;
                  }
                }

                .priceTimeDivExterior {
                  :nth-child(1) {
                    &:after {
                      content: "$70";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(2) {
                    &:after {
                      content: "$80 - $100";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(3) {
                    &:after {
                      content: "$110 - $130";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(4) {
                    &:after {
                      content: "$140 - $160";
                      @include priceAttr;
                    }
                  }
                }

                .priceTimeDivFull {
                  display: flex;
                  flex-direction: column;
                  width: 100%;

                  :nth-child(1) {
                    &:after {
                      content: "$130";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(2) {
                    &:after {
                      content: "$180 - $220";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(3) {
                    &:after {
                      content: "$230 - $220";
                      @include priceAttr;
                    }
                    margin-bottom: 5px;
                  }
                  :nth-child(4) {
                    &:after {
                      content: "$280 - $320";
                      @include priceAttr;
                    }
                  }

                  .packageTime {
                    color: #333333;
                  }
                }

                .packageTime {
                  color: #333333;
                }
              }
              @media (max-width: 500px) {
                .packagePrice {
                  font-size: 0.9rem;
                }
              }
            }
            #basics {
              background: #ffffff;
            }
            .serviceListBasics {
              padding-left: 2px;
              display: block;
              .serviceListItem {
                color: #ffffff;
                margin: 3px;
              }
              .serviceNotice {
                background: #ffffff;
                color: #ffffff;
              }
              .priceTimeParent {
                margin-bottom: 20px;
                .priceTimeDiv {
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  .packagePrice {
                    color: #4698fe;
                  }
                  .packageTime {
                    color: #4698fe;
                    &:before {
                      content: "| \00a0 ";
                      color: #ffffff;
                    }
                  }
                }
              }
            }
            .serviceList.active {
              display: block;
              animation: fadein 0.35s normal;
              margin-bottom: 8px;
            }

            @keyframes fadein {
              from {
                opacity: 0;
                margin-bottom: 0px;
                filter: brightness(100%);
              }
              to {
                opacity: 1;
                margin-bottom: 8px;
                filter: brightness(103%);
              }
            }

            #basics {
              border-left: #4698fe solid 5px;
              padding-left: 12px;
            }
            #interior {
              border-left: #ffffff solid 5px;
              padding-left: 15px;
            }
            #wheels {
              border-left: #ffffff solid 7px;
              padding-left: 10px;
            }

            #leather {
              border-left: #ffffff solid 9px;
              padding-left: 11px;
            }
            #carpets {
              border-left: #ffffff solid 11px;
              padding-left: 9px;
            }

            #paint {
              border-left: #ffffff solid 13px;
              padding-left: 8px;
            }
          }
        }
      }

      @media (min-height: 880px) and (min-width: 701px) {
        height: 100vh;
        align-items: center;
        .rightSectChild {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .servicesGrid {
            padding: 0;

            .serviceDiv{
              .serviceList{
                .serviceListItem{
                  font-size: 1.1rem;
                }
                .priceTimeParent{
                  .packagePrice{
                    font-size: 1.1rem;
                  }
                }
                .questionPara{
                  font-size: 1.1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    .servicesMain {
      flex-direction: column;
      .leftSect {
        all: inherit;
        height: auto;
        background: #4698fe;
        padding-bottom: 7px;
        position: static;
        .headDiv {
          margin: 0;
          justify-content: center;
          align-items: flex-end;
          .head {
            margin-top: 70px;
            font-size: 3rem;
          }
        }
      }
      .rightSect {
        width: 100%;
        justify-content: flex-start;
        left: 0;
        .rightSectChild {
          position: absolute;
          // margin-top: 50px;
          width: calc(100% - 40px);
          padding: 0 20px 100px 20px;
          align-self: center;
          height: auto;

          .servicesGrid {
            position: relative;
            width: 100%;
            justify-content: center;
            justify-items: center;
            align-items: center;

            .serviceTypeRow {
              width: 100%;
            }
            .serviceDiv {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
