strong.italic {
  font-weight: 700;
  font-style: italic;
}
.strong {
  font-weight: 700;
}

.servicesMother {
  height: 100%;
  .servicesMain {
    display: flex;
    flex-direction: row;
    height: 100%;

    .leftSect {
      height: 100vh;
      width: calc(50% - 30px);
      background: #4698fe;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      padding-right: 30px;
      .headDiv {
        // margin-bottom: 100px;
        height: 156px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .head {
          text-align: end;
          color: #333;
          font-size: 4rem;
        }
      }
    }

    .rightSect {
      height: 100%;
      width: 50%;
      background: #333;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      position: relative;
      left: 50%;
      .rightSectChild {
        // position: absolute;
        padding-left: 30px;
        display: flex;

        .servicesGrid {
          width: calc(100% - 60px);
          position: absolute;
          top: 5%;
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: auto auto auto auto auto auto;
          column-gap: 50px;
          row-gap: 5px;
          justify-content: center;
          padding-bottom: 200px;
          .serviceDiv {
            max-width: 500px;
            .serviceHead {
              background: #4698fe;
              padding: 6px 15px;
              font-size: 1.5rem;
              font-weight: 600;
              margin-bottom: 5px;
              border-radius: 2px;
              cursor: pointer;

              @media (min-height: 800px) {
                padding: 10px 15px;
              }
            }
            .serviceListBasics {
              .priceRubric {
                color: #ffffff;
                font-weight: 600;
              }
            }
            .serviceList {
              padding-left: 2px;
              display: none;

              .serviceListItem {
                color: #ffffff;
                list-style: none;
                margin: 3px;
                white-space: pre-wrap;
              }
              .serviceNotice {
                color: #ffffff;
                background: black;
                padding: 3px 8px;
                border-radius: 3px;
              }
              .priceTimeDiv {
                display: flex;
                flex-direction: column;
                width: 100%;

                .packagePrice {
                  color: #4698fe;
                  &:after {
                    content: "\00a0 \00a0 |";
                    color: #ffffff;
                  }
                }
                .packageTime {
                  color: #4698fe;
                  &:before {
                    content: "| \00a0 ";
                    color: #ffffff;
                  }
                }
              }
            }
            #basics {
              background: #ffffff;
            }
            .serviceListBasics {
              padding-left: 2px;
              display: block;
              .serviceListItem {
                color: #ffffff;
                margin: 3px;
              }
              .serviceNotice {
                background: #ffffff;
                color: #ffffff;
              }
              .priceTimeDiv {
                display: flex;
                flex-direction: row;
                width: 100%;
                .packagePrice {
                  color: #4698fe;
                  &:after {
                    content: "\00a0 \00a0 |";
                    color: #ffffff;
                  }
                }
                .packageTime {
                  color: #4698fe;
                  &:before {
                    content: "| \00a0 ";
                    color: #ffffff;
                  }
                }
              }
            }
            .serviceList.active {
              animation: fadein 0.35s normal;
              margin-bottom: 8px;
            }

            @keyframes fadein {
              from {
                opacity: 0;
                margin-bottom: 0px;
                filter: brightness(100%);
              }
              to {
                opacity: 1;
                margin-bottom: 8px;
                filter: brightness(103%);
              }
            }

            #basics {
              border-left: #4698fe solid 3px;
              padding-left: 15px;
            }
            #interior {
              border-left: #ffffff solid 5px;
              padding-left: 15px;
            }
            #wheels {
              border-left: #ffffff solid 7px;
              padding-left: 10px;
            }

            #leather {
              border-left: #ffffff solid 9px;
              padding-left: 11px;
            }
            #carpets {
              border-left: #ffffff solid 11px;
              padding-left: 9px;
            }

            #paint {
              border-left: #ffffff solid 13px;
              padding-left: 8px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    height: 100%;
    .servicesMain {
      flex-direction: column;
      .leftSect {
        width: 100%;
        height: 180px;
        padding-right: 0;
        position: static;
        .headDiv {
          margin: 0;
          justify-content: center;
          align-items: flex-end;
          .head {
            margin-top: 80px;
          }
        }
      }
      .rightSect {
        width: 100%;
        justify-content: flex-start;
        left: 0;
        .rightSectChild {
          position: absolute;
          margin-top: 50px;
          width: calc(100% - 40px);
          padding: 0 20px 0 20px;
          align-self: center;
          height: auto;
          .servicesGrid {
            position: relative;
            width: 100%;
            .serviceDiv {
              // .serviceHead {
              //   color: #333;
              //   font-size: 1.8rem;
              //   background: #4698fe;
              //   padding: 10px 15px;
              //   border-radius: 5px;
              // }
            }
          }
        }
      }
    }
  }
}
