*{
  appearance: none;
}

html, body, #root{
height: 100%;
min-height: 100%;
background: #333333;
}

body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.body {
overflow-y: scroll;
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.body::-webkit-scrollbar { /* WebKit */
width: 0;
height: 0;
}

.workMother {
  height: 100%;
  .workMain {
    display: flex;
    flex-direction: row;

    // THIS IS WHERE THE ISSUE WITH l

    // height: 100%;

    .downArrow {
      height: 50px;
      width: 50px;

      @keyframes bouncey {
        from {
          transform: translateY(0px);
          filter: brightness(0%);
          filter: drop-shadow(0px 0px #333333);
        }
        to {
          transform: translateY(-10px);
          filter: brightness(200%);
          filter: drop-shadow(0px 10px 5px #333333);
        }
      }
    }

    .leftSect {
      height: 100vh;
      width: calc(50% - 30px);
      background: #4698fe;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      padding-right: 30px;
      .headDiv {
        // margin-bottom: 100px;
        height: 156px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .head {
          text-align: end;
          color: #333;
          font-size: 4rem;
        }
      }
    }

    .rightSect {
      height: auto;
      width: 50%;
      position: relative;
      left: 50%;
      background: #333;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      .rightSectChild {
        width: 100%;
        .imagesGrid {
          display: grid;
          grid-template-columns: 100%;
          .imageItem {
            height: auto;
            display: flex;
            justify-content: center;
            .image {
              width: 90%;
              height: 10%;
            }
          }
        }
        #loadingContainer {
          background: pink;
          height: 90vh;
          width: 100%;
          display: flex;
          justify-self: center;
          align-self: center;
          justify-content: center;
          align-items: center;
          color: #4698fe;
          background: #333;
          font-size: 2rem;
          font-weight: 600;
          h2 {
            align-self: center;
            text-align: center;
            justify-self: center;
          }
        }
      }
    }

    @media (max-width: 700px) {
      flex-direction: column;
      .leftSect {
        width: 100%;
        height: 100%;
        padding-right: 0;
        position: static;
        .headDiv {
          margin: 0;
          justify-content: center;
          align-items: flex-end;
          .head {
            margin-top: 80px;
          }
        }
      }

      .rightSect {
        width: 100%;
        left: 0;
        // top: 180px;
        padding-bottom: 50px;
        padding-top: 50px;
        .rightSectChild {
          align-items: flex-start;
          justify-content: flex-start;
          .imagesGrid {
            .imageItem {
              .image {
                width: 85%;
              }
            }
          }
        }
      }
    }

    @media (max-width: 500px) {
      .leftSect {
        height: auto;
        padding-top: 83px;
        padding-bottom: 6px;
        .headDiv {
          height: auto;
          .head {
            margin: 0;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
