html, body, #root {
  height: 100%;
  min-height: 100%;
  background: #333333; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.body {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */ }

.body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0; }

* {
  appearance: none; }

.allMother {
  height: 100%;
  width: 100%; }
  .allMother .allMain {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%; }
    .allMother .allMain .leftSect {
      height: 100vh;
      width: calc(50% - 30px);
      background: #4698fe;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 30px;
      position: fixed; }
      .allMother .allMain .leftSect .headDiv {
        height: 156px;
        display: flex;
        justify-content: flex-end;
        width: 100%; }
        .allMother .allMain .leftSect .headDiv .subHead {
          display: none; }
        .allMother .allMain .leftSect .headDiv .head {
          text-align: end;
          color: #333;
          font-size: 4rem; }
          .allMother .allMain .leftSect .headDiv .head:before {
            content: "Mobile "; }
    .allMother .allMain .rightSect {
      height: 100%;
      width: 50%;
      background: #333;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      left: 50%; }
      .allMother .allMain .rightSect .rightSectChild {
        width: 100%; }
        .allMother .allMain .rightSect .rightSectChild .clientItem .clientEmail {
          color: #ffffff;
          margin: 5px 10px; }
  @media (max-width: 650px) {
    .allMother .allMain {
      flex-direction: column; }
      .allMother .allMain .leftSect {
        width: 100%;
        height: 180px;
        padding-right: 0;
        position: static; }
        .allMother .allMain .leftSect .headDiv {
          margin: 0;
          justify-content: center;
          align-items: flex-end; }
          .allMother .allMain .leftSect .headDiv .head {
            margin-top: 80px;
            font-size: 3rem;
            padding-bottom: 10px; }
      .allMother .allMain .rightSect {
        width: 100%;
        left: 0;
        top: 50px; }
        .allMother .allMain .rightSect .rightSectChild {
          display: flex;
          flex-direction: column;
          align-self: center;
          align-items: center;
          justify-content: flex-start; } }

* {
  margin: 0;
  text-decoration: none;
  appearance: none; }

.navMother {
  position: fixed;
  z-index: 2; }
  .navMother .navMain {
    display: flex;
    flex-direction: row; }
    .navMother .navMain .navLogoDiv {
      background: #333;
      width: 200px;
      padding: 10px 20px;
      border-bottom-right-radius: 3px; }
      .navMother .navMain .navLogoDiv .navLogo {
        text-align: start;
        font-size: 1.8rem;
        color: #ffffff;
        font-weight: 500; }
      .navMother .navMain .navLogoDiv .navLogoSecond {
        font-size: 1.4rem;
        text-align: start;
        color: #ffffff;
        font-weight: 500; }
    .navMother .navMain .navLinksDiv {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .navMother .navMain .navLinksDiv .navLink {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.15rem;
        margin-left: 15px;
        cursor: pointer; }
    .navMother .navMain .burgerMenuDiv {
      display: none; }
      .navMother .navMain .burgerMenuDiv .burgerMenu {
        display: none;
        position: absolute;
        right: 0; }
    .navMother .navMain .navDropDown {
      display: none;
      position: absolute;
      right: 0;
      z-index: 2; }
      .navMother .navMain .navDropDown ul {
        background: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
        padding-left: 20px;
        border-bottom-left-radius: 5px;
        padding: 20px 5px 20px 20px; }
        .navMother .navMain .navDropDown ul li {
          text-decoration: none;
          list-style: none;
          color: #ffffff;
          border: #333333 1px solid;
          padding: 4px 15px;
          font-size: 1.15rem;
          margin: 5px 0px 0px 0px;
          cursor: pointer; }
    .navMother .navMain #overlay {
      position: fixed;
      opacity: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      transition: 200ms ease-in-out;
      z-index: 1; }
    .navMother .navMain #overlay.active {
      opacity: 1;
      pointer-events: all; }
  @media (max-width: 1100px) {
    .navMother .navMain .navLogoDiv {
      padding: 7px 10px;
      width: 150px; }
      .navMother .navMain .navLogoDiv .navLogo {
        font-size: 1.7rem; }
      .navMother .navMain .navLogoDiv .navLogoSecond {
        font-size: 1.25rem; }
    .navMother .navMain .navLinksDiv {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      align-items: flex-start;
      justify-content: center;
      justify-items: start;
      align-content: center;
      margin-left: 15px; }
      .navMother .navMain .navLinksDiv .navLink {
        font-size: 0.9rem;
        margin: 3px;
        padding: 3px;
        font-size: 1.1rem; } }
  @media (max-width: 700px) {
    .navMother {
      position: absolute;
      width: 100%; }
      .navMother .navMain {
        background: #4698fe;
        width: 100%;
        position: relative; }
        .navMother .navMain .navLogoDiv {
          border-radius: 0; }
        .navMother .navMain .navLinksDiv {
          display: none; }
        .navMother .navMain .burgerMenuDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 68px;
          width: 68px;
          position: absolute;
          right: 0;
          cursor: pointer; }
          .navMother .navMain .burgerMenuDiv .burgerMenu {
            display: block;
            height: auto;
            width: 35px;
            margin: 0;
            padding: 0;
            right: 0; }
        .navMother .navMain .navDropDown.active {
          display: block; }
          .navMother .navMain .navDropDown.active ul li:hover, .navMother .navMain .navDropDown.active ul li:focus {
            color: #4698fe; } }


/*# sourceMappingURL=styles.chunk.css.map*/