strong.italic {
  font-weight: 700;
  font-style: italic; }

strong {
  font-weight: 800;
  color: inherit; }

* {
  appearance: none; }

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  background: #333333; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.body {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */ }

.body::-webkit-scrollbar {
  /* WebKit */
  display: none;
  width: 0;
  height: 0; }

.servicesMother {
  height: 100%; }
  .servicesMother .servicesMain {
    display: flex;
    flex-direction: row;
    height: 100%; }
    .servicesMother .servicesMain .leftSect {
      height: 100vh;
      width: calc(50% - 30px);
      background: #4698fe;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      padding-right: 30px; }
      .servicesMother .servicesMain .leftSect .headDiv {
        display: flex;
        justify-content: flex-end;
        width: 100%; }
        .servicesMother .servicesMain .leftSect .headDiv .head {
          text-align: end;
          color: #333;
          font-size: 4rem; }
    .servicesMother .servicesMain .rightSect {
      height: 100%;
      width: 50%;
      background: #333;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      position: relative;
      left: 50%; }
      .servicesMother .servicesMain .rightSect .rightSectChild {
        height: 100%;
        margin-top: 30px;
        position: relative;
        padding-left: 30px;
        display: flex;
        width: calc(100% - 30px); }
        .servicesMother .servicesMain .rightSect .rightSectChild .premiumHeadDiv {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          max-width: 500px; }
          .servicesMother .servicesMain .rightSect .rightSectChild .premiumHeadDiv .premiumHead {
            color: #ffffff;
            margin: 25px 0 5px 0;
            justify-self: flex-start; }
        .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid {
          width: calc(100% - 60px);
          height: auto;
          display: flex;
          flex-direction: column;
          column-gap: 50px;
          row-gap: 5px;
          justify-content: center; }
          .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceTypeRow {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            max-width: 500px;
            z-index: 2;
            margin-bottom: 10px; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceTypeRow .slide {
              height: 100%;
              width: 30%;
              font-weight: 600;
              border: none;
              appearance: none;
              font-size: 1.5rem;
              background: #ffffff;
              color: #333;
              cursor: pointer;
              border-radius: 3px;
              background: #4698fe;
              color: #333333;
              transition: all 0.1s ease-in-out;
              text-align: center;
              display: flex;
              justify-content: center; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceTypeRow .slide:focus {
                outline: thin dotted; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceTypeRow .slide.active {
              box-shadow: -2px 2px black, -4px 3px #ffffff;
              transform: translateY(-3px);
              filter: brightness(120%); }
            @media (max-width: 500px) {
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceTypeRow .slide {
                font-size: 1.35rem; } }
          .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv {
            max-width: 500px; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceHead {
              background: #4698fe;
              padding: 6px 15px;
              font-size: 1.5rem;
              font-weight: 600;
              margin-bottom: 5px;
              border-radius: 2px;
              cursor: pointer; }
              @media (min-height: 800px) {
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceHead {
                  padding: 10px 15px; } }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceMainParaDiv {
              color: #ffffff; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics {
              margin-bottom: 5px; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics .priceRubric {
                color: #ffffff;
                font-weight: 600;
                opacity: 0.8; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList {
              padding-left: 2px;
              display: none; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .serviceListItem {
                color: #ffffff;
                list-style: none;
                margin: 3px;
                white-space: pre-wrap; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .questionPara {
                color: #000000;
                background: #ffffff;
                padding: 3px 8px;
                border-radius: 3px;
                margin-top: 10px; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .serviceNotice {
                color: #ffffff;
                background: black;
                padding: 3px 8px;
                border-radius: 3px; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .conditionNoticeDiv {
                background: #f8f8f8;
                padding: 5px 10px;
                border-radius: 3px;
                margin-top: 10px; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent {
                background: #ffffff;
                padding: 5px 10px;
                border-radius: 3px;
                margin-top: 10px; }
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior {
                  display: flex;
                  flex-direction: column;
                  width: 100%; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior :nth-child(1) {
                    margin-bottom: 5px; }
                    .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior :nth-child(1):after {
                      content: "$60 - $70";
                      font-style: italic;
                      background: #333333;
                      color: #ffffff;
                      border-radius: 3px;
                      padding: 0 5px;
                      margin-left: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior :nth-child(2) {
                    margin-bottom: 5px; }
                    .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior :nth-child(2):after {
                      content: "$80 - $90";
                      font-style: italic;
                      background: #333333;
                      color: #ffffff;
                      border-radius: 3px;
                      padding: 0 5px;
                      margin-left: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior :nth-child(3) {
                    margin-bottom: 5px; }
                    .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior :nth-child(3):after {
                      content: "$100 - $120";
                      font-style: italic;
                      background: #333333;
                      color: #ffffff;
                      border-radius: 3px;
                      padding: 0 5px;
                      margin-left: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior :nth-child(4):after {
                    content: "$140 - $160";
                    font-style: italic;
                    background: #333333;
                    color: #ffffff;
                    border-radius: 3px;
                    padding: 0 5px;
                    margin-left: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivInterior .packageTime {
                    color: #333333; }
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivExterior :nth-child(1) {
                  margin-bottom: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivExterior :nth-child(1):after {
                    content: "$70 - $80";
                    font-style: italic;
                    background: #333333;
                    color: #ffffff;
                    border-radius: 3px;
                    padding: 0 5px;
                    margin-left: 5px; }
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivExterior :nth-child(2) {
                  margin-bottom: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivExterior :nth-child(2):after {
                    content: "$80 - $90";
                    font-style: italic;
                    background: #333333;
                    color: #ffffff;
                    border-radius: 3px;
                    padding: 0 5px;
                    margin-left: 5px; }
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivExterior :nth-child(3) {
                  margin-bottom: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivExterior :nth-child(3):after {
                    content: "$100 - $120";
                    font-style: italic;
                    background: #333333;
                    color: #ffffff;
                    border-radius: 3px;
                    padding: 0 5px;
                    margin-left: 5px; }
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivExterior :nth-child(4):after {
                  content: "$130 - $140";
                  font-style: italic;
                  background: #333333;
                  color: #ffffff;
                  border-radius: 3px;
                  padding: 0 5px;
                  margin-left: 5px; }
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull {
                  display: flex;
                  flex-direction: column;
                  width: 100%; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull :nth-child(1) {
                    margin-bottom: 5px; }
                    .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull :nth-child(1):after {
                      content: "$120 - $140";
                      font-style: italic;
                      background: #333333;
                      color: #ffffff;
                      border-radius: 3px;
                      padding: 0 5px;
                      margin-left: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull :nth-child(2) {
                    margin-bottom: 5px; }
                    .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull :nth-child(2):after {
                      content: "$150 - $170";
                      font-style: italic;
                      background: #333333;
                      color: #ffffff;
                      border-radius: 3px;
                      padding: 0 5px;
                      margin-left: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull :nth-child(3) {
                    margin-bottom: 5px; }
                    .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull :nth-child(3):after {
                      content: "$180 - $220";
                      font-style: italic;
                      background: #333333;
                      color: #ffffff;
                      border-radius: 3px;
                      padding: 0 5px;
                      margin-left: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull :nth-child(4):after {
                    content: "$230 - $250";
                    font-style: italic;
                    background: #333333;
                    color: #ffffff;
                    border-radius: 3px;
                    padding: 0 5px;
                    margin-left: 5px; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .priceTimeDivFull .packageTime {
                    color: #333333; }
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .packageTime {
                  color: #333333; }
              @media (max-width: 500px) {
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .conditionNotice,
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .packagePrice {
                  font-size: 0.9rem; } }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv #basics {
              background: #ffffff; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics {
              padding-left: 2px;
              display: block; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics .serviceListItem {
                color: #ffffff;
                margin: 3px; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics .serviceNotice {
                background: #ffffff;
                color: #ffffff; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics .priceTimeParent {
                margin-bottom: 20px; }
                .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics .priceTimeParent .priceTimeDiv {
                  display: flex;
                  flex-direction: row;
                  width: 100%; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics .priceTimeParent .priceTimeDiv .packagePrice {
                    color: #4698fe; }
                  .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics .priceTimeParent .priceTimeDiv .packageTime {
                    color: #4698fe; }
                    .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceListBasics .priceTimeParent .priceTimeDiv .packageTime:before {
                      content: "| \A0   ";
                      color: #ffffff; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList.active {
              display: block;
              animation: fadein 0.35s normal;
              margin-bottom: 8px; }

@keyframes fadein {
  from {
    opacity: 0;
    margin-bottom: 0px;
    filter: brightness(100%); }
  to {
    opacity: 1;
    margin-bottom: 8px;
    filter: brightness(103%); } }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv #basics {
              border-left: #4698fe solid 5px;
              padding-left: 12px; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv #interior {
              border-left: #ffffff solid 5px;
              padding-left: 15px; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv #wheels {
              border-left: #ffffff solid 7px;
              padding-left: 10px; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv #leather {
              border-left: #ffffff solid 9px;
              padding-left: 11px; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv #carpets {
              border-left: #ffffff solid 11px;
              padding-left: 9px; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv #paint {
              border-left: #ffffff solid 13px;
              padding-left: 8px; }
      @media (min-height: 880px) and (min-width: 701px) {
        .servicesMother .servicesMain .rightSect {
          height: 100vh;
          align-items: center; }
          .servicesMother .servicesMain .rightSect .rightSectChild {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid {
              padding: 0; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .serviceListItem {
                font-size: 1.1rem; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .conditionNoticeDiv .conditionNotice {
                font-size: 1.1rem; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .priceTimeParent .packagePrice {
                font-size: 1.1rem; }
              .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv .serviceList .questionPara {
                font-size: 1.1rem; } }
  @media (max-width: 700px) {
    .servicesMother .servicesMain {
      flex-direction: column; }
      .servicesMother .servicesMain .leftSect {
        all: inherit;
        height: auto;
        background: #4698fe;
        padding-bottom: 7px;
        position: static; }
        .servicesMother .servicesMain .leftSect .headDiv {
          margin: 0;
          justify-content: center;
          align-items: flex-end; }
          .servicesMother .servicesMain .leftSect .headDiv .head {
            margin-top: 70px;
            font-size: 3rem; }
      .servicesMother .servicesMain .rightSect {
        width: 100%;
        justify-content: flex-start;
        left: 0; }
        .servicesMother .servicesMain .rightSect .rightSectChild {
          position: absolute;
          width: calc(100% - 40px);
          padding: 0 20px 100px 20px;
          align-self: center;
          height: auto; }
          .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid {
            position: relative;
            width: 100%;
            justify-content: center;
            justify-items: center;
            align-items: center; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceTypeRow {
              width: 100%; }
            .servicesMother .servicesMain .rightSect .rightSectChild .servicesGrid .serviceDiv {
              width: 100%; } }

* {
  margin: 0;
  text-decoration: none;
  appearance: none; }

.navMother {
  position: fixed;
  z-index: 2; }
  .navMother .navMain {
    display: flex;
    flex-direction: row; }
    .navMother .navMain .navLogoDiv {
      background: #333;
      width: 200px;
      padding: 10px 20px;
      border-bottom-right-radius: 3px; }
      .navMother .navMain .navLogoDiv .navLogo {
        text-align: start;
        font-size: 1.8rem;
        color: #ffffff;
        font-weight: 500; }
      .navMother .navMain .navLogoDiv .navLogoSecond {
        font-size: 1.4rem;
        text-align: start;
        color: #ffffff;
        font-weight: 500; }
    .navMother .navMain .navLinksDiv {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0; }
      .navMother .navMain .navLinksDiv .navLink {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.15rem;
        margin-left: 15px;
        cursor: pointer; }
        .navMother .navMain .navLinksDiv .navLink .navListItem {
          list-style: none;
          padding: none; }
    .navMother .navMain ul {
      padding: none; }
    .navMother .navMain .burgerMenuDiv {
      display: none; }
      .navMother .navMain .burgerMenuDiv .burgerMenu {
        display: none;
        position: absolute;
        right: 0; }
    .navMother .navMain .navDropDown {
      display: none;
      position: absolute;
      right: 0;
      z-index: 2; }
      .navMother .navMain .navDropDown ul {
        background: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
        padding-left: 20px;
        border-bottom-left-radius: 5px;
        padding: 20px 5px 20px 20px; }
        .navMother .navMain .navDropDown ul li {
          text-decoration: none;
          list-style: none;
          color: #ffffff;
          border: #333333 1px solid;
          padding: 4px 15px;
          font-size: 1.15rem;
          margin: 5px 0px 0px 0px;
          cursor: pointer; }
    .navMother .navMain #overlay {
      position: fixed;
      opacity: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      transition: 200ms ease-in-out;
      z-index: 1; }
    .navMother .navMain #overlay.active {
      opacity: 1;
      pointer-events: all; }
  @media (max-width: 1100px) {
    .navMother .navMain .navLogoDiv {
      padding: 7px 10px;
      width: 150px; }
      .navMother .navMain .navLogoDiv .navLogo {
        font-size: 1.7rem; }
      .navMother .navMain .navLogoDiv .navLogoSecond {
        font-size: 1.25rem; }
    .navMother .navMain .navLinksDiv {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      align-items: flex-start;
      justify-content: center;
      justify-items: start;
      align-content: center;
      margin-left: 15px; }
      .navMother .navMain .navLinksDiv .navLink {
        font-size: 0.9rem;
        margin: 3px;
        padding: 3px;
        font-size: 1.1rem; } }
  @media (max-width: 700px) {
    .navMother {
      position: absolute;
      width: 100%; }
      .navMother .navMain {
        background: #4698fe;
        width: 100%;
        position: relative; }
        .navMother .navMain .navLogoDiv {
          border-radius: 0; }
        .navMother .navMain .navLinksDiv {
          display: none; }
        .navMother .navMain .burgerMenuDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 68px;
          width: 68px;
          position: absolute;
          right: 0;
          cursor: pointer; }
          .navMother .navMain .burgerMenuDiv .burgerMenu {
            display: block;
            height: auto;
            width: 35px;
            margin: 0;
            padding: 0;
            right: 0; }
        .navMother .navMain .navDropDown.active {
          display: block; }
          .navMother .navMain .navDropDown.active ul li:hover, .navMother .navMain .navDropDown.active ul li:focus {
            color: #4698fe; } }


/*# sourceMappingURL=styles.chunk.css.map*/